<p>Xin chào {{name}},</p>
<p>Cảm ơn bạn đã tin tưởng Handyconnect và sử dụng dịch vụ của chúng tôi, dưới đây là mã đơn đặt dịch vụ của bạn: </p>
<p style="font-weight: bold; font-size: 20px">{{orderId}}</p>
<p>Chúng tôi sẽ tìm thợ sửa chữa và thực hiện dịch vụ sửa chữa bạn đã đặt trong thời gian bạn mong muốn.</p>